{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}


<form action="{{action}}" method="post">
    <fieldset>
    <legend>{{formTitle}} a train</legend>
    <p>
        <label>Name:
            <input type="text" name="name" value="">
        </label>
    </p>
    <p>
        <label>Amount made:
            <input type="number" name="amountMade" value="">
        </label>
    </p>
    <p>
        <label>Year made:
            <input type="number" name="yearMade" value="">
        </label>
    </p>
    <p>
        <label>End of production (lastYearMade):
            <input type="number" name="lastYearMade" value="">
        </label>
    </p>
    <p>
        <label>Year exit service:
            <input type="number" name="exitService">
        </label>
    </p>
    <p>
        <label>Url picture:
            <input type="text" name="picture">
        </label>
    </p>
    <p>
        <input type="submit" value="{{formTitle}}">
    </p>
    </fieldset>
</form>

{% endblock %}