{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>



{{ dump(trains) }}

{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}


<p>{{infoBox}} </p>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Units made</th>
        <th>Production started</th>
        <th>Production ceased</th>
        <th>End of service</th>
        <th>Image</th>
        <th>Action</th>
    </tr>

        {% for train in trains %}
            <tr>

                <td>
                <a href="{{path("train_by_id", { 'id': train.getId })}}">{{train.getId}}</a>
                </td>

                {% for data in train.getDataArray %}
                    <td>
                        {{ data }}
                    </td>
                {% endfor %}

                <td>
                    <img src="{{ train.getPicture }}" width="150" alt="Image of {{ train.getName }}">
                </td>

                <td>
                    <a href="{{path("train_update", { 'id': train.getId })}}">Update</a>
                    <a href="{{path("train_delete_by_id", { 'id': train.getId })}}">Delete</a>

                </td>


            <tr>
        {% endfor %}
</table>


<div class="navbar">
    <nav>
        <ul>
            <a href="{{ url("create_train") }}">Create new</a>
            <a href="{{ url("stay") }}">Stay</a>
        </ul>
    </nav>
</div>


{% endblock %}
