{% extends "base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<p>Dessa kort delades ut: </p>

<table>
    <tr>
        <th>Spelare</th>
        <th>Kort</th>
        <th>Poäng</th>
    </tr>

    {% for i in 0..1 %}
    <tr>
    <td>
        {% if i == 0 %}
        The bank
        {% else %}
        {{i}}
        {% endif %}
    </td>

    <td>
        {% for card in game.showCardsArray(i) %}

            {% for suit, value in card %}

            <div class="card {{ suit }}">

                <img src="{{ asset("img/" ~ suit ~ ".png") }}" alt="{{ suit }}">

                {% if value == 11 %}
                <div class="card_content"> J </div>
                {% elseif value == 12 %}
                <div class="card_content"> Q </div>
                {% elseif value == 13 %}
                <div class="card_content"> K </div>
                {% elseif value == 1 %}
                <div class="card_content"> A </div>
                {% elseif value == 0 %}
                <div class="card_content"> Joker </div>
                {% else %}
                <div class="card_content"> {{ value }} </div>

                {% endif %}
            </div>
        {% endfor %}
        {% endfor %}
        </td>
        <td>
                <p>Om ess är 1: {{game.getSumArray(i)[0]}}</p>
                <p>Om ess är 14: {{game.getSumArray(i)[1]}}</p>

        </td>
    </tr>
    {% endfor %}

</table>

<h1>
{% if outcome == "won" %}
    Du vann!
{% elseif outcome == "lost" %}
    Du förlorade!
{% endif %}
</h1>



<div class="navbar">
    <nav>
        <ul>
            {% if outcome == null %}
                <a href="{{ url("new") }}">New card</a>
                <a href="{{ url("stay") }}">Stay</a>
            {% endif %}
            <a href="{{ url("play") }}">Restart</a>
        </ul>
    </nav>
</div>


{% endblock %}
