<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset("favicon.ico") }}">
        <link rel="stylesheet" href="{{ asset("css/style.css") }}"/>

    </head>
    <body>
        <div class="siteheader">
            <img class="header_img center" src="{{ asset("img/C20F_header.png") }}" alt="C20F">
        </div>

        <div class="navbar">
            <nav>
                <ul>
                    <a href="{{ url("home") }}">Home</a>
                    <a href="{{ url("report") }}">Report</a>
                    <a href="{{ url("about") }}">About</a>
                    <a href="{{ url("metrics") }}">Metrics</a>

                    <a href="{{ url("form-search") }}">Search</a>
                    <a href="{{ url("form-login") }}">Login</a>
                    <a href="{{ url("form-session") }}">Session</a>
                    <a href="{{ url("dice-home") }}">Dice roll</a>


                    <a href="{{ url("dice-hand-home") }}">Dice hand</a>
                    <a href="{{ url("card-home") }}">Card</a>

                    <a href="{{ url("game-home") }}">Game</a>


                    <a href="{{ url("library-home") }}">Bibliotek</a>



                </ul>
            </nav>
        </div>

        {% block content %}
        Default content
        {% endblock %}

        <div class="site-footer">
            Websidan är skapad av Martin Westman, som läser webbprogrammering vid BTH
            <p> <a href="https://dbwebb.se/kurser/mvc-v2">Länk till kursens websida</a></p>
        </div>

    </body>
</html>
